# Intellij
.idea/
out/

# Gradle
.gradle
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!gradle-wrapper.properties

# Debug server folder
.debug/

# Paper strap
.paperstrap/